@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg1: rgb(8, 10, 15);
    --color-bg2: rgb(0, 17, 32);
    --color1: 75, 0, 130;
    --color2: 19, 25, 62;
    --color3: 11, 10, 19;
    --color4: 122, 157, 203;
    --color5: 16, 26, 136;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
    color: #13193E;
}

button {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
}

p {
    letter-spacing: 3px;
    text-align: right;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: radial-gradient(circle closest-corner, #060a33, #000);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    padding-inline: 1.2rem;
}

.glass-filter,
.glass-overlay,
.glass-specular {
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.glass-filter {
    z-index: 1;
    backdrop-filter: blur(4px);
    filter: url(#glass-distortion) saturate(120%) brightness(1.15);
}


@keyframes floatDistort {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


.glass-overlay {
    z-index: 2;
}

.glass-specular {
    z-index: 3;
    box-shadow: inset 2px 2px 2px #ffffff55;
}

.display {
    position: relative;
    z-index: 4;
    backdrop-filter: blur(16px);
    background-color: #ffffff22;
    border-radius: 1rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
    overflow: hidden;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: min(100vw, 450px);
    border-radius: 20px;
    box-shadow: 0 0 20px #00000055;
    padding-inline: 2rem;
    padding-block: 2.5rem;
    height: clamp(550px, 100vh, 680px);
    display: grid;
    grid-template-rows: 25% 1fr 70%;
}

.btn-cont {
    position: relative;
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    grid-row: 3;
}

.grow {
    grid-column: span 2;
}

.expression-display {
    font-size: 1.25rem;
    color: #ffffff88;
    font-weight: 200;
}

.input-display {
    font-size: 2.2rem;
    font-weight: 300;
}

.btn {
    border: 1px solid #ffffff22;
    border-radius: 1rem;
    transition: 0.3s ease-in;
    --bg-color: rgba(var(--color5));
}

.btn:hover {
    border: 2px solid var(--bg-color);
      box-shadow: 0 0 5px var(--bg-color), 0 0 25px var(--bg-color), 0 0 50px var(--bg-color), 0 0 200px var(--bg-color);
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004); */
    /* color: #7A9DCB; */
    background-color: var(--bg-color);
}

.btn:focus {
    outline: 2px solid rgba(var(--bg-color), 0.5);
}

.operator,
.cr, #eql {
    --bg-color: #ffffff55;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1), 0 4px 20px rgba(187, 155, 255, 0.2);
    background-color: #ffffff22;
    backdrop-filter: blur(10px);
}


@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.gradient-bg .gradients-container {
    filter: url(#goo) blur(10px);
    width: 100%;
    height: 100%;
}

.gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}

.gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}

.gradient-bg .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}

.gradient-bg .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}

.gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}

@media (max-width: 420px){
    body{
        padding-inline: 0.6rem;
    }
    .calculator{
        padding-inline: 0.6rem;
    }        
    
}

@media(max-width: 350px){
    body{
        padding-inline: 0;
    }

    .calculator{
        padding: 0.5rem;
    }

    .btn-cont{
        gap: 0.4rem;
    }
}